<div class="flash-alert" *ngIf="flashAlert">
    <flash-messages></flash-messages>
</div>

<div class="order-bg">
  <div class="container myContainer">
    <div class="state-block" *ngIf="state === 'Successful'">
      <div class="order-info">
        <div class="row">
          <div class="col-sm-6">
            <div class="orderV-img">
              <img src="/assets/images/app/success.svg" alt="success check image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="orderV-texts">
              <h1>Ticket Order Successful</h1>
              <p>Your ticket order was successful and details have been captured, your e-tickets would be sent to your email address in minutes</p><br>
              <div class="orderV-btn-block">
                <a href="#" class="btn rockies-btn" routerLink="/c/sf">Find More Events</a>
                <a href="#" class="btn rockies-btn" routerLink="/a/create-event">Create Event</a>
                <a href="Javascript:void(0)" *ngIf="emailError === 'Ticket'" class="btn rockies-btn" (click)="createTicketPdf()">Recreate Ticket</a>
                <a href="Javascript:void(0)" *ngIf="emailError === 'Email'" class="btn rockies-btn" (click)="sendTicketMail()">Resend E-Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="state-block" *ngIf="state === 'Failed'">
      <div class="order-info">
        <div class="row">
          <div class="col-sm-6">
            <div class="orderV-img">
              <img src="/assets/images/app/ticket-error.svg" alt="Error image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="orderV-texts">
              <h1 style="color: #F80013;">Ticket Order Failed</h1>
              <p>Your ticket order failed as your ticket payment was not captured! if you're receiving this in error please contact <a href="mailto:support@rockies.ng">rockies support</a> to clearify,
              sorry for any inconveniences this might have caused. Thank You.</p><br>
              <div class="orderV-btn-block">
                <a href="Javascript:void(0)" class="btn rockies-btn" (click)="redirectToEvent()">Go Back to {{ orderParams.name }} event page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>