<div class="overview-outer-bg">
  <div class="overview-bg">
    <div class="container myContainer">
      <div class="row">
        <div class="col-md-6">
          <div class="overview-info">
            <h1 class="heading--tag">Buying Tickets</h1><hr class="heading--hr"><br>
            <span class="overview-item">
              <b>1. </b>Check for events either from the home page or from discover events page
            </span>

            <span class="overview-item">
              <b>2. </b>Click on the event to go to the event details page 
            </span>

            <span class="overview-item">
              <b>3. </b>If it is within the organizers ticket selling days select the number of tickets you want to buy and click on order
            </span>

            <span class="overview-item">
              <b>4. </b>If you're not logged in it would redirect you, after that it would take you to the reserve ticket page which is on a timer, fill in your details and pay for
              paid and vip tickets or obtain your ticket for free tickets. 
            </span>

            <span class="overview-item">
              <b>5. </b>After which your e-ticket would be sent to your account email address within minutes 
            </span>

            <span class="overview-item">
              <b>Note:</b>
              A fee of 1.5% + &#8358;100 of ticket price is incured on each ticket purchase (&#8358;100 is waved for ticket prices below &#8358;2500).
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="overview-info" style="border-bottom: 4px solid #4e2156;">
            <h1 class="heading--tag">Selling Tickets</h1><hr class="heading--hr"><br>
            <span class="overview-item">
              <b>1. </b>Click on account to create account if you haven't already or login to your account
            </span>

            <span class="overview-item">
              <b>2. </b>Create an organizer profile which is either the business/company organizing the event
            </span>

            <span class="overview-item">
              <b>3. </b>Click on create event and fill in all the fields
            </span>

            <span class="overview-item">
              <b>4. </b>If you're done filling it and you're not ready to go live you can save the event
            </span>

            <span class="overview-item">
              <b>5. </b>If you decide that you're ready you can go live and your event would immediately be listed among our events and would be assigned 
              a link which you can change
            </span><br>

            <span class="overview-item">
              <b>Note:</b>
              Making an event exclusive to rockies means that you're selling all your tickets on our platform and it would change the category to exclusive
              and your event would be assigned an exclusive badge on our listings, this is so that potential buyers know that they can only get your tickets on our platform.
            </span>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>