<div class="price-outer-bg">
  <div class="price-bg">
    <div class="container myContainer">
      <div class="price-info">
        <div class="row">
          <div class="col-sm-6">
            <div class="price-img">
              <img src="/assets/images/app/pricing.svg" alt="pricing image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="price-texts">
              <h1>5%</h1>
              <h4>Of Each Paid And Vip Ticket Sold</h4><br>
              <div class="price-features-block">
                <h2>What you get</h2><br>
                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Three ticket types (Free, Paid and Vip)
                </span>

                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Sales Analytics
                </span>

                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Details on ticket buyers
                </span>

                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Ticket buyers can make reviews and ratings on your event
                </span>

                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Unlimited organizer profiles
                </span>

                <span class="feature-item">
                  <fa name="fas fa-check"></fa>
                  Event Link to share on social media
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>