<div class="myOrder-bg">
  <div class="container myContainer">
    <div class="myOrder-info">
      <h1 class="heading--tag">Ticket Order For <a href="#" [routerLink]="['/c/e/', orderDetails.eventLink]">{{ orderDetails.title }}</a></h1><hr class="heading--hr"><br>
  
      <div class="myOrder-block" *ngIf="orderToShow">
        <h4>{{ order.ticketName }}</h4><br>
        {{ order.normalType }} order #{{ order._id}} made on {{ order.createdOn | date:'d MMM y'}}<br>
        Event from {{ orderDetails.startDate | date:'EEEE, d MMM y'}} to {{ orderDetails.endDate | date:'EEEE, d MMM y'}}<br>
        <b>No of tickets:</b> {{ order.noOfSeats }}<br>
        <span *ngIf="order.normalType !== 'Free'"><b>Price per ticket:</b> &#8358;{{ order.cost | number:'1.2'}}</span><br>
        <span *ngIf="order.normalType !== 'Free'"><b>Total amount tethered for ticket(s):</b> &#8358;{{ order.cost * order.noOfSeats | number:'1.2'}}</span><br>
        <span *ngIf="order.normalType !== 'Free'"><b>Ticket purchase transaction id:</b> {{ order.transactionId }}</span><br>
        <b>Event holding at {{ orderDetails.location.name }}, </b>{{ orderDetails.location.address.street }} {{ orderDetails.location.address.state }}, {{ orderDetails.location.address.country }}<br><br>
        <a href="#" routerLink="/a/myOrders"><fa name="fas fa-chevron-left"></fa> Back to my orders</a>
      </div>

      <div class="noOrder-block" *ngIf="!orderToShow">
        <div class="noOrders-img-block">
          <img src="/assets/images/app/tickets.svg" alt="No ticket icon"><br><br>
          <span class="empty-text">
            <h3>oops, sorry ticket order details cannot be displayed.</h3>
          </span><br>
          <a href="#" class="btn rockies-btn" routerLink="/c/sf">Find Events</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>
