<div class="flash-alert" *ngIf="flashAlert">
    <flash-messages></flash-messages>
</div>

<div class="confirm-bg">
  <div class="container myContainer">
    <div class="state-block" *ngIf="state === 'Successful'">
      <div class="confirm-info">
        <div class="row">
          <div class="col-sm-6">
            <div class="confirmV-img">
              <img src="/assets/images/app/success.svg" alt="success check image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="confirmV-texts">
              <h1>Account Successfully Comfirmed</h1>
              <p>You now have full access to create events and sell tickets as well as purchase tickets to events. Do have a plesant experience on rockies.</p><br>
              <div class="confirmV-btn-block">
                <a href="#" class="btn rockies-btn" routerLink="/c/login">Login to your account to continue</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="state-block" *ngIf="state === 'Failed'">
      <div class="confirm-info">
        <div class="row">
          <div class="col-sm-6">
            <div class="confirmV-img">
              <img src="/assets/images/app/ticket-error.svg" alt="Error image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="confirmV-texts">
              <h1 style="color: #F80013;">Account Confirmation Failed</h1>
              <p>This might be due to the expiration of the confirmation key attached to the email, please go back to the login page and resend confirmation and if the problem persists contact <a href="mailto:support@rockies.ng">rockies support</a> for guidiance, sorry for any inconveniences this might have caused do have a pleasant day.</p><br>
              <div class="confirmV-btn-block">
                <a href="Javascript:void(0)" class="btn rockies-btn" routerLink="/c/login">Go back to the login page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>