<div class="rockies-footer-details">
  <div class="row">
    <div class="col-md-3">
      <img src='./assets/images/app/rockies_logo_reverse.png' width='90px' height='90px'><br>
      In a fast pased world, rockies is bringing you the opportunity to relax and pick a spot to unwind, all from your
      comfort while we do the work of getting you world class events.
    </div>
    <div class="col-md-3 footer-links">
      <h4>Use Rockies</h4><br>
      <a href="#">Discover Events</a><br>
      <a href="#">Pricing</a><br>
      <a href="#">How it works</a><br>
      <a href="#">Create an event</a><br>
      <a href="#">Terms of use</a><br>
    </div>
    <div class="col-md-3 footer-links">
      <h4>Connect With Us</h4><br>
      <a href="#">Facebook</a><br>
      <a href="#">Twitter</a><br>
      <a href="#">Instagram</a><br>
      <a href="#">Linkedin</a><br>
      <a href="#">Medium</a><br>
    </div>
    <div class="col-md-3 footer-links">
      <h4>Contact Us</h4><br>
      <span>
        <fa name="fas fa-map-marker" style="margin-right: 10px;"></fa><br> 
        <span style="text-align: center;"> Cucrid building,<br> Covenant University,<br> Cananland, Ota<br>
        Ogun State, Nigeria.</span>
      </span><br>
      <span>
        <fa name="fas fa-phone"></fa><br>
        +2349076423663,<br>
        +2349070322860,<br>
        +2348095623123,<br>
        +2348032139571
      </span><br>
      <span>
        <fa name="fas fa-envelope"></fa><br> 
        support@rockies.ng
      </span>
    </div>
  </div>
</div>
<div class="rockies-footer">
  &copy; 2018 Rockies
</div>
