<div class="flash-alert" *ngIf="flashAlert">
    <flash-messages></flash-messages>
</div>

<div class="order-bg">
  <div class="container myContainer">
    <div class="heading-callout">
      <h1>Complete Your Order</h1>
    </div>

    <div class="order-info">
      <div class="row">
        <div class="col-sm-6">
          <div class="timer">
            <b>{{ minute }}min:{{ second }}sec </b>time left to order
          </div>
        </div>
        <div class="col-sm-6" style="text-align: right;">
          Total Amount: <b class="t-amoount">&#8358;{{ orderParams.price * orderParams.number | number:'1.2' }}</b>
        </div>
      </div>
    </div><br>

    <div class="order-info">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Ticket Type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ orderParams.name }}</th>
            <td>{{ orderParams.price | number:'1.2' }}</td>
            <td>{{ orderParams.number }}</td>
            <td>{{ orderParams.price * orderParams.number | number:'1.2' }}</td>
          </tr>
        </tbody>
      </table>
    </div><br>

    <div class="order-btn-block">
      <a href="Javascript:void(0)" class="btn rockies-btn" *ngIf="orderParams.type === 'Vip' || orderParams.type === 'Paid'  && !disableOrderBtn" (click)="payForTicket()">Pay</a>
      <a href="Javascript:void(0)" class="btn rockies-btn" *ngIf="orderParams.type === 'Free' && !disableOrderBtn" (click)="obtainTicket()">Obtain Ticket</a>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>
