<div class="myEvents-bg">
  <div class="container myContainer">
    <div class="heading-callout">
      <h1>My Events</h1>
    </div><br><br>

    <div class="form-group">
      <div class="input-group mb-3">
        <input type="filter" class="form-control addon-form-control" id="filter" name="filter" placeholder="Search Events" [(ngModel)]="filterBar" #filter="ngModel">
        <div class="input-group-addon">
          <span class="input-group-text" id="filter-addon">
            <fa name="fas fa-search"></fa>
          </span>
        </div>
      </div>
    </div>

    <div class="myEvents-block" *ngIf="eventsToShow">
      <br>
      <div class="controls-block">
        <a href="Javascript:void(0)" [class.active]="linkActive === 'Live' ? true : false" (click)="changeLinkActive('Live')">Live {{ events.live.length }}</a>
        <a href="Javascript:void(0)" [class.active]="linkActive === 'Saved' ? true : false" (click)="changeLinkActive('Saved')">Saved {{ events.saved.length }}</a>
        <a href="Javascript:void(0)" [class.active]="linkActive === 'Past' ? true : false" (click)="changeLinkActive('Past')">Past {{ events.past.length }}</a>
      </div>

      <br>
      <flash-messages></flash-messages><br>

      <div *ngIf="linkActive === 'Live'">
        <div class="row">
          <div class="col-md-3" *ngFor="let event of events.live | search:{title: filterBar}; let i = index">
            <div class="event-box mb-4">
              <div class="event-title h5">
                <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">{{ event.title }}</a>
              </div>
              <a href="Javascript:void(0)" class="event-category" title="Filter search by {{ event.settings.category }}" [routerLink]="['/c/sf',  {cat: event.settings.category}]">#{{ event.settings.category }}</a><br>
              <a href="Javascript:void(0)" class="event-details" [routerLink]="['/c/e', event.eventLink]">
                <time>{{ event.startDate | date:"MMMM d, y" }}</time> | {{ event.location.address.state }}<br><br>
                <div class="event-price">
                  <div class="inline-price" *ngFor="let eventTicket of event.ticket">
                    <span *ngIf="eventTicket.normalType === 'Paid'">&#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Vip'">&nbsp;- &#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Free'">{{ eventTicket.normalType}}</span>
                  </div>
                </div>
              </a>
              <hr>
              <div class="event-cmd-ctrls">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Detailed event dashboard" [routerLink]="['/a/myEvents/', event._id]">
                  <fa name="fas fa-signal"></fa>
                </a>

                <a href="Javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Delete this event" (click)="removeEvents(event._id, i, 'Live')">
                  <fa name="fas fa-trash"></fa>
                </a>
              </div>
            </div>
          </div><br>
        </div>
      </div>

      <div *ngIf="linkActive === 'Saved'">
        <div class="row">
          <div class="col-md-3" *ngFor="let event of events.saved | search:{title: filterBar}; let i = index">
            <div class="event-box mb-4">
              <div class="event-title h5">
                <a href="Javascript:void(0)">{{ event.title }}</a>
              </div>
              <a href="Javascript:void(0)" class="event-category" title="Filter search by {{ event.settings.category }}" [routerLink]="['/c/sf',  {cat: event.settings.category}]">#{{ event.settings.category }}</a><br>
              <a href="Javascript:void(0)" class="event-details">
                <time>{{ event.startDate | date:"MMMM d, y" }}</time> | {{ event.location.address.state }}<br><br>
                <div class="event-price">
                  <div class="inline-price" *ngFor="let eventTicket of event.ticket">
                    <span *ngIf="eventTicket.normalType === 'Paid'">&#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Vip'">&nbsp;- &#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Free'">{{ eventTicket.normalType}}</span>
                  </div>
                </div>
              </a>
              <hr>
              <div class="event-cmd-ctrls">
                <a href="Javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Make event live" style="color: red;" (click)="turnEventLive(event.eventLink, i)">
                  <fa name="fas fa-calendar"></fa>
                </a>

                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Edit this event" [routerLink]="['/a/myEvents/edit/', event._id]">
                  <fa name="far fa-edit"></fa>
                </a>

                <a href="Javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Delete this event" (click)="removeEvents(event._id, i, 'Saved')">
                  <fa name="fas fa-trash"></fa>
                </a>
              </div>
            </div>
          </div><br>
        </div>
      </div>

      <div *ngIf="linkActive === 'Past'">
        <div class="row">
          <div class="col-md-3" *ngFor="let event of events.past | search:{title: filterBar}; let i = index">
            <div class="event-box mb-4">
              <div class="event-title h5">
                <a href="Javascript:void(0)">{{ event.title }}</a>
              </div>
              <a href="Javascript:void(0)" class="event-category" title="Filter search by {{ event.settings.category }}" [routerLink]="['/c/sf',  {cat: event.settings.category}]">#{{ event.settings.category }}</a><br>
              <a href="Javascript:void(0)" class="event-details">
                <time>{{ event.startDate | date:"MMMM d, y" }}</time> | {{ event.location.address.state }}<br><br>
                <div class="event-price">
                  <div class="inline-price" *ngFor="let eventTicket of event.ticket">
                    <span *ngIf="eventTicket.normalType === 'Paid'">&#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Vip'">&nbsp;- &#8358;{{ eventTicket.price | number:'2.' }}</span>
                    <span *ngIf="eventTicket.normalType === 'Free'">{{ eventTicket.normalType}}</span>
                  </div>
                </div>
              </a>
              <hr>
              <div class="event-cmd-ctrls">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Detailed event dashboard" [routerLink]="['/a/myEvents/', event._id]">
                  <fa name="fas fa-signal"></fa>
                </a>

                <a href="Javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Delete this event" (click)="removeEvents(event._id, i, 'Past')">
                  <fa name="fas fa-trash"></fa>
                </a>
              </div>
            </div>
          </div><br>
        </div>
      </div>
    </div>

    <div class="noEvents-block" *ngIf="!eventsToShow">
      <br>
      <div class="noEvents-img-block">
        <img src="/assets/images/app/empty_events.svg" alt="No events icon"><br><br>
        <span class="empty-text">
          <h3>oops, sorry you have no events to display.</h3>
        </span><br>
        <a href="#" class="btn rockies-btn" routerLink="/a/create-event">Create Event</a>
      </div>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>
