<div class="flash-alert" *ngIf="flashAlert">
    <flash-messages></flash-messages>
</div>

<div class="myOrganizers-bg">
  <div class="container myContainer">
    <div class="options-bar">
      <a href="#" routerLink="/a/organizers/create">
        <fa name="fas fa-plus"></fa>
        Create Organizer Profile
      </a>
    </div><br>

    <div class="myOrganizers-info">
      <h1 class="heading--tag">My Organizer Profiles</h1><hr class="heading--hr"><br>

      <div class="myOrganizers-block" *ngIf="organizersToShow">
        <div class="row">
          <div class="col-md-4" *ngFor="let organizer of myOrganizers; let i = index">
            <div class="organizer-box">
              <div class="row">
                <div class="col-md-12 o-logo-bg">
                  <img src="{{ organizer.logo }}" alt="Organizer logo" class="o-logo">
                </div>
                <div class="col-md-12">
                  <h4 class="o-name"><a href="#" [routerLink]="['/c/o', organizer.url]" title="Click to view organizer profile">{{ organizer.name}}</a></h4><br>
                  <b>Email Address:</b> {{ organizer.email }}<br>
                  <b>Phone Number:</b> {{ organizer.phone }}<br>
                  <b>Profile Created On:</b> {{ organizer.createdOn | date:'d MMM y' }}<br>
                  <div class="action-block">
                    <a href="#" title="Click to edit organizer profile" [routerLink]="['/a/organizers/edit', organizer.url]"><fa name="far fa-edit"></fa></a>
                    <a href="Javascript:void(0)" title="Click to delete organizer profile" (click)="deleteOrganizer(organizer._id, i)"><fa name="fas fa-trash" style="color: red"></fa></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="noOrganizers-block" *ngIf="!organizersToShow">
        <div class="noOrganizers-fa-block">
        <fa name="fas fa-sitemap"></fa><br><br>
        <span class="empty-text">
          <h3>oops, sorry you have no organizer profiles to display.</h3>
        </span>
      </div>
      </div>
  </div>

  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>