<div class="signup-bg">
  <div class="container myContainer">
    <div class="rockies-logo-box">
      <img src="/assets/images/app/rockies_logo.png" alt="Rockies Logo" class="rockies-logo"><br>
    </div>
    <div class="signup-box">
      <flash-messages></flash-messages>
      <form novalidate #registerF="ngForm" (ngSubmit)="registerUser(registerF)">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control addon-form-control" id="first" name="first" placeholder="Enter first name" [(ngModel)]="user.name.first" #first="ngModel" required minlength="3">
              <div class="input-group-addon">
                <span class="input-group-text" id="first-name-addon">
                  <fa name="fas fa-address-card"></fa>
                </span>
              </div>
            </div>

            <div class='disclamier' *ngIf='!first.valid && first.touched'>Enter a valid first name</div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control addon-form-control" id="last" name="last" placeholder="Enter last name" [(ngModel)]="user.name.last" #last="ngModel" required minlength="3">
              <div class="input-group-addon">
                <span class="input-group-text" id="last-name-addon">
                  <fa name="fas fa-address-card"></fa>
                </span>
              </div>
            </div>

            <div class='disclamier' *ngIf='!last.valid && last.touched'>Enter a valid last name</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control addon-form-control" id="email" name="email" placeholder="Enter email address" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
          <div class="input-group-addon">
            <span class="input-group-text" id="email-addon">
              <fa name="fas fa-envelope"></fa>
            </span>
          </div>
        </div>

        <div class='disclamier' *ngIf='!email.valid && email.touched'>Enter a valid email</div>

        <div class="input-group mb-3">
          <input type="password" class="form-control addon-form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password" #password="ngModel" required minlength="8">
          <div class="input-group-addon">
            <span class="input-group-text" id="password-addon">
              <fa name="fas fa-key"></fa>
            </span>
          </div>
        </div>

        <div class='disclamier' *ngIf='!password.valid && password.touched'>Enter password of at least 8 characters</div>

        <button type="submit" class="btn rockies-btn" [disabled]="!registerF.valid">Register</button>
        <div *ngIf="resendE" class="resend-confirm"><a href="Javascript:void(0)"(click)="resendConfirm()">Resend Confirmation Email</a></div>
        </form>
    </div><br>

    <div class="sign-in-block">
      Already part of the family <a href="#" routerLink="/c/login">Login</a>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>