<div class="organizer-bg">
  <div class="container myContainer">
    <div class="o--details-bg" [style.background-color]="profile.background_color" [style.color]="profile.text_color">
      <div class="o-logo-bg">
        <img class="o-logo" src="{{ profile.logo }}">
      </div><br>
      <h2 class="o-name">
        {{ profile.name }}
      </h2><br>
      <div class="o-about" [innerHtml]="profile.about"></div>
    </div>

    <div class="o-events-socials-block">
      <div class="row">
        <div class="col-md-4 order-md-12">
          <div class="o-socials">
            <span class="o-socials-item" *ngIf="profile?.socials?.website">
              <a href="{{ profile?.socials?.website }}" target="_blank"><fa name="fas fa-globe"></fa></a>
            </span>

            <span class="o-socials-item" *ngIf="profile?.socials?.facebook">
              <a href="{{ profile?.socials?.facebook }}" target="_blank"><fa name="fab fa-facebook-f"></fa></a>
            </span>

            <span class="o-socials-item" *ngIf="profile?.socials?.twitter">
              <a href="{{ profile?.socials?.twitter }}" target="_blank"><fa name="fab fa-twitter"></fa></a>
            </span>

            <span class="o-socials-item" *ngIf="profile?.socials?.instagram">
              <a href="{{ profile?.socials?.instagram }}" target="_blank"><fa name="fab fa-instagram"></fa></a>
            </span>

            <span class="o-socials-item" *ngIf="profile?.socials?.blog">
              <a href="{{ profile?.socials?.blog }}" target="_blank"><fa name="fab fa-medium"></fa></a>
            </span>
          </div>
        </div>

        <div class="col-md-8 order-md-1 event-col">
          <span class="event-controls">
            <a href="Javascript:void(0)" class="controls-item" (click)="eControlsChange()" [class.active]="eControls === 'live' ? true : false">Live Events {{ organizer.recentEvents?.length }}</a>
            <a href="Javascript:void(0)" class="controls-item" (click)="eControlsChange()" [class.active]="eControls === 'past' ? true : false">Past Events {{ organizer.pastEvents?.length }}</a>
          </span>
        </div>
      </div>
    </div><br><br>

    
    <div *ngIf="eControls === 'live' ? true : false">
      <div *ngIf="liveEvents">
        <div class="row">
          <div class="col-md-12">
            <div class="event-cover" *ngFor="let event of organizer.recentEvents">
              <div class="row">
                <div class="col-sm-4">
                  <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                    <div class="event-image" [ngStyle]="{'background-image': 'linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(' + event.eventImage + ')'}"></div>
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="event-body">
                    <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                      <time>{{ event.startDate | date: "EEE, MMMM d, y h:mm a" }}</time>
                      <div class="event-title">
                        {{ event.title }}
                      </div>
                      <span class="event-venue">
                        <fa name="fas fa-map-marker"></fa>
                        {{ event.location.address.street }}, {{ event.location.address.state }} {{ event.location.address.country }}
                      </span>
                    </a>
                  </div>

                  <div class="event-footer">
                    <div class="event-price" *ngFor="let eventTicket of event.ticket | slice:0:1;">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { price: 'Paid' }]" title="Sort by price" *ngIf="eventTicket.normalType === 'Paid'"><fa name="fab fa-gg"></fa>from &#8358;{{ eventTicket.price | number:'2.' }}</a>
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { price: 'Free' }]" title="Sort by price" *ngIf="eventTicket.normalType === 'Free'"><fa name="fab fa-gg"></fa>{{ eventTicket.normalType}}</a>
                    </div>

                    <div class="event-category">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { cat: event.settings.category }]" title="Sort by category"><fa name="far fa-object-group"></fa>{{event.settings.category}}</a>
                    </div>

                    <span class="event-exclusive" *ngIf="event.exclusive === 'Yes'" title="This event is exclusively sold on rockies!">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { cat: 'exclusive' }]" title="Sort by exclusives"><fa name="fas fa-certificate"></fa></a>
                    </span>
                  </div>
                </div>
              </div>
            </div><br>
          </div>
        </div>
      </div>
      <h5 *ngIf="!liveEvents">
        <fa name="fas fa-exclamation-triangle"></fa>
        {{ organizer.recentEvents.message }}
      </h5>
    </div>
      
    <div *ngIf="eControls === 'past' ? true : false">
      <div *ngIf="pastEvents">
        <div class="row">
          <div class="col-md-12">
            <div class="event-cover" *ngFor="let event of organizer.recentEvents">
              <div class="row">
                <div class="col-sm-4">
                  <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                    <div class="event-image" [ngStyle]="{'background-image': 'linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(' + event.eventImage + ')'}"></div>
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="event-body">
                    <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                      <time>{{ event.startDate | date: "EEE, MMMM d, y h:mm a" }}</time>
                      <div class="event-title">
                        {{ event.title }}
                      </div>
                      <span class="event-venue">
                        <fa name="fas fa-map-marker"></fa>
                        {{ event.location.address.street }}, {{ event.location.address.state }} {{ event.location.address.country }}
                      </span>
                    </a>
                  </div>

                  <div class="event-footer">
                    <div class="event-price" *ngFor="let eventTicket of event.ticket | slice:0:1;">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { price: 'Paid' }]" title="Sort by price" *ngIf="eventTicket.normalType === 'Paid'"><fa name="fab fa-gg"></fa>from &#8358;{{ eventTicket.price | number:'2.' }}</a>
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { price: 'Free' }]" title="Sort by price" *ngIf="eventTicket.normalType === 'Free'"><fa name="fab fa-gg"></fa>{{ eventTicket.normalType}}</a>
                    </div>

                    <div class="event-category">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { cat: event.settings.category }]" title="Sort by category"><fa name="far fa-object-group"></fa>{{event.settings.category}}</a>
                    </div>

                    <span class="event-exclusive" *ngIf="event.exclusive === 'Yes'" title="This event is exclusively sold on rockies!">
                      <a href="Javascript:void(0)" [routerLink]="['/c/sf', { cat: 'exclusive' }]" title="Sort by exclusives"><fa name="fas fa-certificate"></fa></a>
                    </span>
                  </div>
                </div>
              </div>
            </div><br>
          </div>
        </div>
      </div>
      <h5 *ngIf="!pastEvents">
        <fa name="fas fa-exclamation-triangle"></fa>
        {{ organizer.pastEvents.message }}
      </h5>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>