<div class="login-bg">
  <div class="container myContainer">
    <div class="rockies-logo-box">
      <img src="/assets/images/app/rockies_logo.png" alt="Rockies Logo" class="rockies-logo"><br>
    </div>
    <div class="login-box">
      <flash-messages></flash-messages>
      <form novalidate #loginF="ngForm" (ngSubmit)="loginUser(loginF)">
        <div class="input-group mb-3">
          <input type="email" class="form-control addon-form-control" id="email" name="email" placeholder="Enter email address" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
          <div class="input-group-addon">
            <span class="input-group-text" id="email-addon">
              <fa name="fas fa-envelope"></fa>
            </span>
          </div>
        </div>

        <div class='disclamier' *ngIf='!email.valid && email.touched'>Enter a valid email</div>

        <div class="input-group mb-3">
          <input type="password" class="form-control addon-form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password" #password="ngModel" required minlength="8">
          <div class="input-group-addon">
            <span class="input-group-text" id="password-addon">
              <fa name="fas fa-key"></fa>
            </span>
          </div>
        </div>

        <div class='disclamier' *ngIf='!password.valid && password.touched'>Enter password</div>

        <button type="submit" class="btn rockies-btn" [disabled]="!loginF.valid">Login</button><br>
        <div *ngIf="!email.valid" class="forgot-password"><a href="Javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Enter your email to continue">Forgot Password?</a></div>
        <div *ngIf="email.valid" class="forgot-password"><a href="Javascript:void(0)"(click)="forgotPassword()">Forgot Password?</a></div>
      </form>
    </div><br>

    <div class="sign-up-block">
      Want to join the family <a href="#" routerLink="/c/register">Sign Up</a>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>
