<div class="myEvent-bg">
  <div class="container myContainer">
    <div class="row">
      <div class="col-md-3">
        <div class="event-links-block">
          <a href="Javascript:void(0)" [class.active]="eventLinks === 'General' ? true : false" (click)="changeEventLinks('General')">General</a>
          <a href="Javascript:void(0)" [class.active]="eventLinks === 'Orders' ? true : false" (click)="changeEventLinks('Orders')">Orders</a>
          <a href="Javascript:void(0)" [class.active]="eventLinks === 'Reviews' ? true : false" (click)="changeEventLinks('Reviews')">Reviews</a>
        </div><br>
      </div>
      <div class="col-md-9">
        <div class="event-info">
          <div class="event-view" *ngIf="eventLinks === 'General'">
            <div class="numbers-block">
              <div class="row">
                <div class="col-sm-6">
                  <div class="numbers-element">
                    <h4>Total Event Page Views</h4><br>
                    <h1>{{ myEvent.totalViewed }}</h1>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="numbers-element">
                    <h4>Total Number Of Orders Made</h4><br>
                    <h1>{{ myEvent.orders.length }}</h1>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="numbers-element">
                    <h4>Total Revenue From Ticket Sale</h4><br>
                    <h1>&#8358;{{ totalAmount | number:'1.2' }}</h1>
                  </div>
                </div>
              </div>
            </div><br>

            <div class="event-link">
              <div *ngIf="linkAlert">
                <br>
                <flash-messages></flash-messages>
              </div><br>
              <label for="link">Your Event Link</label>
              <div class="input-group mb-3">
                <div class="front-input-GA input-group-addon">
                  <span class="input-group-text" id="b-link-addon">
                    https://rockies.ng/c/e/
                  </span>
                </div>
                <input type="text" class="form-control addon-form-control" id="link" name="link" placeholder="Enter your ideal event link" [(ngModel)]="eventLink" #link="ngModel" (keyup)="checkAvailability()">
                <div class="input-group-addon">
                  <span class="input-group-text" id="link-addon">
                    <a href="Javascript:void(0)" ngxClipboard [cbContent]="copyLink" (cbOnSuccess)="copyToClipboard()"><fa name="fas fa-copy"></fa></a>
                  </span>
                </div>
              </div>
              <small class="linkResMsg" [class.text-success]="linkResColor === 'Available' ? true : false">{{ linkResMsg }}</small>

              <div class="update-linkBtn-block">
                <button type="button" class="btn rockies-btn" (click)="updateLink()" style="width: 50%;">Update Event Link</button>
              </div>
            </div>
          </div>

          <div class="event-view" *ngIf="eventLinks === 'Orders'">
            <div class="row" *ngIf="orderVisibility">
              <div class="col-md-6" *ngFor="let order of myEvent.orders; let i = index">
                <div class="order-box">
                  <div class="order-box-heading">
                    <h3 class="order-box-title">{{ order.ticketName }}
                      <small>{{ order.normalType }}</small>
                    </h3><br>
                    
                    <div class="row">
                      <div class="col-sm-6">
                        <span class="order-box-ticketNo">
                          {{ order.noOfSeats }} ticket(s)
                        </span>
                      </div><br>
                      <div class="col-sm-6 order-box-visible">
                        <a href="Javascript:void(0)" title="Expand more details" (click)="changeOrderVisibility(i)" *ngIf="orderNo !== i || !isOrderVisible === true">
                          <fa name="far fa-eye-slash"></fa>
                        </a>

                        <a href="Javascript:void(0)" title="Collapse more details" (click)="changeOrderVisibility(i)" *ngIf="orderNo === i && isOrderVisible === true">
                          <fa name="far fa-eye"></fa>
                        </a>
                      </div>
                    </div><br>
                    <span>Date of ticket order: {{ order.createdOn | date:'EEE, MMM d y' }}</span>
                  </div>
                  <div class="order-box-footer" *ngIf="orderNo === i && isOrderVisible === true">
                    <span><b>Ticket Bought By:</b> {{ order.buyer.name }}<br>(email: {{ order.buyer.email }})</span><br><br>
                    <span><b>Cost Per Ticket:</b> {{ order.cost }}</span><br><br>
                    <span><b>Total Cost Of {{ order.noOfSeats }} ticket(s):</b> {{ order.noOfSeats * order.cost }}</span><br><br>
                    <span><b>Transaction Id:</b> {{ order.transactionId }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="noOrder" *ngIf="!orderVisibility">
              <img src="/assets/images/app/tickets.svg" alt="Ticket Icon">
              <h4>There are no ticket orders to display!</h4>
            </div>
          </div>

          <div class="event-view" *ngIf="eventLinks === 'Reviews'">
            <div class="row" *ngIf="reviewVisibility">
              <div class="col-md-12" *ngFor="let review of myEvent.reviews">
                <div class="order-box">
                  <div class="order-box-heading">
                    <div class="row">
                      <div class="col-md-6">
                        <span><b>Review By:</b> {{ review.reviewBy.name }}<br>(email: {{ review.reviewBy.email }})</span><br><br>
                        <span><b>Date Of Review:</b> {{ review.createdOn | date:'EEE, MMM d y' }}</span>
                      </div>
                      <div class="col-md-6">
                        <span style="margin-top: 10px;"><h2>{{ review.sentimentRating }}</h2> review score</span><br>
                      </div>
                    </div>
                  </div>

                  <div class="order-box-footer">
                    <p>{{ review.review }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="noReview" *ngIf="!reviewVisibility">
              <img src="/assets/images/app/rating.svg" alt="Ticket Icon">
              <h4>There are no reviews to display!</h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>