<div class="search-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sortBar sortBar-small">
          <div class="sortItem active" *ngIf="search.sort === '-totalViewed'">
            <a href="Javascript:void(0)">Top Viewed</a>
          </div>
          <div class="sortItem" *ngIf="search.sort !== '-totalViewed'">
            <a href="Javascript:void(0)" (click)="changeSearchParams('sort', '-totalViewed')">Top Viewed</a>
          </div>
          <div class="sortItem active" *ngIf="search.sort === 'startDate'">
            <a href="Javascript:void(0)">Date</a>
          </div>
          <div class="sortItem" *ngIf="search.sort !== 'startDate'">
            <a href="Javascript:void(0)" (click)="changeSearchParams('sort', 'startDate')">Date</a>
          </div>
        </div>
        <div class="search-filter">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <span class="input-group-text" id="location-addon">
                  <fa name="fas fa-location-arrow"></fa>
                </span>
              </div>
              <input type="text" class="form-control addon-form-control" id="searchCity" name="city" placeholder="Search City Or State" [(ngModel)]="search.city" #catTitle="ngModel" title="Search City Or State" (keyup)="searchLocations()" (blur)="exitLocationSuggest()">
            </div>

            <div class="location-suggest" *ngIf="location_bar">
              <div class="location-item" *ngFor="let location of locations">
                <a href="Javascript:void(0)" (click)="setLocationBar(location.state, location.country)">{{ location.state }},{{ location.country }}</a>
              </div>
            </div>
          </form>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="priceHeading">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#priceCollapse" aria-expanded="false" aria-controls="priceCollapse">
                    PRICE
                  </button>
                </h5>
              </div>
              <div id="priceCollapse" class="collapse" aria-labelledby="priceHeading" data-parent="#accordion">
                <div class="card-body">
                  <div *ngIf="search.price === '' || search.price === 'All Prices'">
                    <a href="Javascript:void(0)"><b>All Prices</b></a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('price', 'Free')">Free</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('price', 'Paid')">Paid</a>
                  </div>

                  <div *ngIf="search.price !== '' && search.price !== 'All Prices'">
                    <a href="Javascript:void(0)" (click)="changeSearchParams('price', 'All Prices')">All Prices</a><br>
                    <a href="Javascript:void(0)"><b>{{ search.price }}</b></a>
                  </div>
                </div><hr>
              </div>
            </div><br>
            

            <div class="card">
              <div class="card-header" id="categoryHeading">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#categoryCollapse" aria-expanded="false" aria-controls="categoryCollapse">
                    CATEGORIES
                  </button>
                </h5>
              </div>
              <div id="categoryCollapse" class="collapse" aria-labelledby="categoryHeading" data-parent="#accordion">
                <div class="card-body">
                  <div *ngIf="!categoriesToggle">
                     <a href="Javascript:void(0)"><b>{{ categories }}</b></a><br>
                  </div>

                  <div *ngIf="categoriesToggle">
                    <div *ngIf="search.cat === '' || search.cat === 'All Categories'">
                      <a href="Javascript:void(0)"><b>All Categories</b></a><br>
                      <div *ngFor="let category of categories">
                        <a href="Javascript:void(0)" (click)="changeSearchParams('cat', category.name)">{{ category.name }}</a><br>
                      </div>
                    </div>

                    <div *ngIf="search.cat !== '' && search.cat !== 'All Categories'">
                      <a href="Javascript:void(0)" (click)="changeSearchParams('cat', 'All Categories')">All Categories</a><br>
                      <a href="Javascript:void(0)"><b>{{ search.cat }}</b></a>
                    </div>
                  </div>            
                </div><hr>
              </div>
            </div><br>

            <div class="card">
              <div class="card-header" id="dateHeading">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#dateCollapse" aria-expanded="false" aria-controls="dateCollapse">
                    DATE
                  </button>
                </h5>
              </div>
              <div id="dateCollapse" class="collapse" aria-labelledby="dateHeading" data-parent="#accordion">
                <div class="card-body">
                  <div *ngIf="search.date === '' || search.date === 'All Dates'">
                    <a href="Javascript:void(0)"><b>All Dates</b></a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'Today')">Today</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'Tomorrow')">Tomorrow</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'This Week')">This Week</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'This Weekend')">This Weekend</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'This Month')">This Month</a><br>
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'Next Month')">Next Month</a>
                  </div>

                  <div *ngIf="search.date !== '' && search.date !== 'All Dates'">
                    <a href="Javascript:void(0)" (click)="changeSearchParams('date', 'All Dates')">All Dates</a><br>
                    <a href="Javascript:void(0)"><b>{{ search.date }}</b></a>
                  </div>
                  
                </div><hr>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-9">
        <div class="event-details-block">
          <div class="sortBar sortBar-big">
            <div class="sortItem active" *ngIf="search.sort === '-totalViewed'">
              <a href="Javascript:void(0)">Top Viewed</a>
            </div>
            <div class="sortItem" *ngIf="search.sort !== '-totalViewed'">
              <a href="Javascript:void(0)" (click)="changeSearchParams('sort', '-totalViewed')">Top Viewed</a>
            </div>
            <div class="sortItem active" *ngIf="search.sort === 'startDate'">
              <a href="Javascript:void(0)">Date</a>
            </div>
            <div class="sortItem" *ngIf="search.sort !== 'startDate'">
              <a href="Javascript:void(0)" (click)="changeSearchParams('sort', 'startDate')">Date</a>
            </div>
          </div>

          <div *ngIf="eventToggle">
            <div class="event-cover" *ngFor="let event of events">
              <div class="row">
                <div class="col-sm-4">
                  <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                    <div class="event-image" [ngStyle]="{'background-image': 'linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(' + event.eventImage + ')'}"></div>
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="event-body">
                    <a href="Javascript:void(0)" [routerLink]="['/c/e', event.eventLink]">
                      <time>{{ event.startDate | date: "EEE, MMMM d, y h:mm a" }}</time>
                      <div class="event-title">
                        {{ event.title }}
                      </div>
                      <span class="event-venue">
                        <fa name="fas fa-map-marker"></fa>
                        {{ event.location.address.street }}, {{ event.location.address.state }} {{ event.location.address.country }}
                      </span>
                    </a>
                  </div>

                  <div class="event-footer">
                    <div class="event-price" *ngFor="let eventTicket of event.ticket | slice:0:1;">
                      <a href="Javascript:void(0)" (click)="changeSearchParams('price', 'Paid')" title="Sort by price" *ngIf="eventTicket.normalType === 'Paid'"><fa name="fab fa-gg"></fa>from &#8358;{{ eventTicket.price | number:'2.' }}</a>
                      <a href="Javascript:void(0)" (click)="changeSearchParams('price', 'Free')" title="Sort by price" *ngIf="eventTicket.normalType === 'Free'"><fa name="fab fa-gg"></fa>{{ eventTicket.normalType}}</a>
                    </div>

                    <div class="event-category">
                      <a href="Javascript:void(0)" (click)="changeSearchParams('cat', event.settings.category)" title="Sort by category"><fa name="far fa-object-group"></fa>{{event.settings.category}}</a>
                    </div>

                    <span class="event-exclusive" *ngIf="event.exclusive === 'Yes'" title="This event is exclusively sold on rockies!">
                      <a href="Javascript:void(0)" (click)="changeSearchParams('cat', 'exclusive')" title="Sort by exclusives"><fa name="fas fa-certificate"></fa></a>
                    </span>
                  </div>
                </div>
              </div>
            </div><br>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center flex-wrap">
                <li [ngClass]="PrevControls">
                  <a class="page-link" href="Javascript:void(0)" tabindex="-1" (click)="onPrev()" title="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let link of controlLinks" [class.active]="link === search.page">
                  <a class="page-link" href="Javascript:void(0)" (click)="changeSearchParams('page', link)">{{ link }}</a>
                </li>
                <li [ngClass]="nextControls">
                  <a class="page-link" href="Javascript:void(0)" (click)="onNext()" title="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

          <div *ngIf="!eventToggle && search.page > 1">
            <h5 style="text-align: center;">
              <fa name="fas fa-exclamation-triangle"></fa>
              Sorry, there are no events that match your filter combination.
            </h5><br>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center flex-wrap">
                <li [ngClass]="PrevControls">
                  <a class="page-link" href="Javascript:void(0)" tabindex="-1" (click)="onPrev()" title="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let link of controlLinks" [class.active]="link === search.page">
                  <a class="page-link" href="Javascript:void(0)" (click)="changeSearchParams('page', link)">{{ link }}</a>
                </li>
                <li [ngClass]="nextControls">
                  <a class="page-link" href="Javascript:void(0)" (click)="onNext()" title="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

          <div *ngIf="!eventToggle && search.page === 1">
            <h5 style="text-align: center;">
              <fa name="fas fa-exclamation-triangle"></fa>
              Sorry, there are no events that match your filter combination.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br><br>
</div>

<div *ngIf="preloader">
  <app-preloader></app-preloader>
</div>
