<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rockies</title>
  <link rel="stylesheet" href="./build.css">
</head>
<body>
  <div class="email-bg">
    <div class="logo-block">
        <img src="https://rockies.ng/assets/images/app/rockies_logo.png" alt="Rockies Logo">
    </div>

    <div class="email-body">
        <p class="email-content">
            <h2 class="email-heading">Reset Password</h2>
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ip
        </p>
        <img src="https://rockies.ng/assets/images/app/signature.png" alt="Rockies Signature">
    </div>

    <div class="email-footer">
        Rockies | 4A, Oladipo Diya Street, 2nd Avenue Estate | Lagos state<br>
        Copyright © 2018 Rockies. All rights reserved.
    </div>
  </div>
</body>
</html>
