<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rockies</title>
</head>
<body>
  <div class="email-bg" style="padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;background-color:#e4e4e4;" >
    <div class="logo-block" style="text-align:center;margin-bottom:15px;margin-top:30px;" >
        <img src="https://rockies.ng/assets/images/app/rockies_logo.png" alt="Rockies Logo" style="max-height:200px;max-width:200px;" >
    </div>

    <div class="email-body" style="margin-left:auto;margin-right:auto;max-width:500px;border-width:1px;border-style:solid;border-color:#4e2156;border-bottom-width:5px;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;min-height:100px;margin-bottom:20px;border-radius:10px;background-color:#fff;line-height:2.0;" >
        <p class="email-content" style="line-height:1.5;" >
            <h2 class="email-heading" style="color:#4e2156;">Confirm Your Account</h2>
            Hi {{ name }},<br>
            As part of our security mesures we require that you confirm your email address, please click on the button to continue.<br><br>
            <a href="https://rockies.ng/c/confirm?key={{ key }}" style="border-radius: 10px;color: #fff !important;padding: 12px;background-color: #4e2156;min-width: 120px;text-decoration: none;margin-top: 10px;" taget="_blank">Confirm Account</a>
        </p>
        <img src="https://rockies.ng/assets/images/app/signature.png" alt="Rockies Signature">
    </div>

    <div class="email-footer" style="text-align:center;font-size:15px;line-height:1.5;" >
        Rockies | Cucrid building covenant university cannan land | Ota, Ogun state<br>
        Copyright © 2018 Rockies. All rights reserved.
    </div>
  </div>
</body>
</html>
