<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rockies</title>
</head>
<body>
  <div class="email-bg" style="padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;background-color:#e4e4e4;" >
    <div class="logo-block" style="text-align:center;margin-bottom:15px;margin-top:30px;" >
        <img src="../../client/src/assets/images/app/rockies_logo.png" alt="Rockies Logo" style="max-height:200px;max-width:200px;" >
    </div>

    <div class="email-body" style="margin-left:auto;margin-right:auto;max-width:500px;border-width:1px;border-style:solid;border-color:#4e2156;border-bottom-width:5px;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;min-height:100px;margin-bottom:20px;border-radius:10px;background-color:#fff;line-height:2.0;" >
        <p class="email-content" style="line-height:1.5;" >
            <h2 class="email-heading" style="color:#4e2156;">Password Change Detected</h2>
            This email was sent to you because a password change was detected on your account, if this was not you please contact <a href="mailto:support@rockies.ng">rockies support</a> for more information and if you're receiving this email 
            by accident please ignore and delete the email. Do have a pleasant day.
        </p>
        <img src="../../client/src/assets/images/app/signature.png" alt="Rockies Signature">
    </div>

    <div class="email-footer" style="text-align:center;font-size:15px;line-height:1.5;" >
        Rockies | Cucrid building covenant university cannan land | Ota, Ogun state<br>
        Copyright © 2018 Rockies. All rights reserved.
    </div>
  </div>
</body>
</html>
